.warning {
    margin-top: 10px;
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.data_point0 {
	color: black;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	background-color: #c0c0c0
}
.data_point1 {
	color: black;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold
}
.data_point2 {
	color: black;
	font-family: Arial;
	font-size: 9pt;
}
.data_point3 {
	color: black;
	font-family: Arial;
	font-size: 9pt;
}
.data_point4 {
	color: black;
	font-family: Arial;
	font-size: 9pt;
}
.topic_line {
	background-color: #36653f;
}

span.tabdisabled, span.tabselected, a.tabenabled, a.runenabled { 
	width: 130px;
	font-weight: bold;
	display:block;
	padding-top: 3px;
	padding-bottom: 3px;	
	text-align:center;
}

span.tabdisabled { background: white; }
span.tabselected { background: #369; color: #FFF }

a.tabenabled { 	color: #fff; text-decoration: none; }
a.tabenabled:link, a.tabenabled:visited { background-color: #8AB; color: #fff }
a.tabenabled:hover { background-color: #ACD; color: #fff; text-decoration: none; }
a.tabenabled:active { border: 0px; color: #fff; text-decoration: none; }

a.runenabled { background: maroon; color: #fff; text-decoration: none; color: #fff }
a.runenabled:link, a.runenabled:visited { color: #fff }
a.runenabled:hover { color: #fff; text-decoration: none; }
a.runenabled:active { border: 0px; color: #fff; text-decoration: none; }

.wizard_instructions {
color: #36653f;
font-family: Arial;
font-size: 9pt;
font-style: italic;
margin-top: 3pt;
margin-bottom: 5pt;
margin-right: 20pt;
}

.wizard_head_instruction {
color: #003366;
font-family: Arial;
font-size: 12pt;
font-weight: bold;
}

.wizard_footnote {
color: #36653f;
font-family: Arial;
font-size: 8pt;
font-style: italic;
margin-top: 3pt;
margin-bottom: 5pt;
margin-right: 20pt;
}
.wizard_field_name {
color: #36653f;
font-family: Arial;
font-size: 10pt;
font-weight: bold;
}

.wizard_field_subheader {
color: #36653f;
font-family: Arial;
font-size: 9pt;
font-weight: bold;
}

.wizard_option {
color: black;
font-family: Arial;
font-size: 9pt;
margin-top: 0;
margin-bottom: 0;
}
.wizard_state_field_name {
color: #003366;
font-family: Arial;
font-size: 8pt;
font-weight: bold;
}
.wizard_state_value {
color: black;
font-family: Arial;
font-size: 7pt;
}

.wizard_state_value blockquote { margin-top: 0; margin-bottom: 0;}
.wizard_state_value p { text-indent: 1em; margin-top: 0; margin-bottom: 0; font-size: 7pt;}
.wizard_state_edit {
color: maroon;
font-family: Arial;
font-size: 8pt;
font-style: italic;
font-weight: bold;
}
.wizard_state_problem {
color: maroon;
font-family: Arial;
font-size: 8pt;
font-style: italic;
}

.wizard_state_none {
color: gray;
font-family: Arial;
font-size: 8pt;
font-style: italic;
}
a.wizard_state_edit:link, a.wizard_state_edit:visited { color: maroon }

.wizard_error {
color:red;
font-family: Arial;
font-size: 8pt;
font-style: italic;
}

.wizard_button {
color: white;
text-decoration: none;
}

a.wizard_tool_button {
margin-left: 1em;
margin-right:1em;
font-family: Arial;
font-size: 9pt;
font-weight: bold;
color: #003366;
}

a.wizard_tool_button:visited {
margin-left: 1em;
margin-right:1em;
font-family: Arial;
font-size: 9pt;
font-weight: bold;
color: #003366;
}

a.next_button, a.prev_button {
	text-decoration: none;
	text-align:center;
	font-weight: bold;
	height:18px;
	display:block;
	width: 100px;
	border: 1px solid #111;
	background: #CCC;
	vertical-align:middle;
	margin-top: 4px;
	color: black;
}
a.prev_button:link, a.prev_button:visited { color:black; }

a.next_button:link, a.next_button:visited { color: black }
a.next_button:hover, a.prev_button:hover { color: black; background: #86A2BE; text-decoration: none; }
a.next_button:active, a.prev_button:active { text-decoration:none; color:black }

a.next_button img, a.prev_button img {
	display:inline;
	color:black;
	vertical-align:middle;
}


	

.category_seperator {
background-color: white;
height: 3px;
}

.alternate_line {
background-color: #E5EAF0;
}

#mos_retail_ex_va, #mos_4 {
    margin-left: 25px;
}
