/*** Modified 01/31/12 3:25 p.m. ------   JMZ   --------------***/


div#resource_guide_wrapper h1, 
div.service_dir h1 {
	font-size: 14px;
	font-weight: bold;
	color: #0066CC;
	line-height: 1.1;
	margin: 1px 0px 2px;
	padding-top: 0px;
	padding-bottom: 0px;
}


div#resource_guide_wrapper h3 {
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	margin-top: 12px;
	margin-bottom: 6px;
}




/* Reference Center ------------------------------------------*/

div#resource_guide_wrapper {
	width:946px;
	margin: 0px auto;
	clear:both;
	overflow:hidden;
	padding-bottom: 0px;
	padding-top: 0px;
}
div#resource_left {
	width:212px;
	margin: 0px 20px 0px 0px;
	float:left;
	text-align:left;
	overflow:hidden;
}

div#resource_search {
	padding-top: 20px;
}

form#ref_ctr_search input#find {
	width: 150px;
	border: 1px solid #bbbbbb;
	font-size: 11px;
	color: #666666;
	background-color: #FFFFFF;
	margin-bottom: 9px;
	line-height: 12px;
	padding: 2px;
	height: 20px;
}
div#resource_search input.form_image {
	margin-top: 5px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-left: -3px;
}


div#resource_main {
	width:695px;
	margin: 0px auto 0px 20px;
	clear:none;
	text-align:left;
	overflow:hidden;
	padding-top: 0px;
	padding-bottom: 20px;
}
div#resource_main h1 {
	text-transform: uppercase;
	font-size: 15px;
}

div#resource_main h2 {
	font-size: 14px;
	font-weight: bold;
	color: #003366;
	margin: 12px 0px 9px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
	text-transform: none;
	padding-top: 12px;
}

div#resource_main h4 {
	font-size: 12px;
	font-weight: bold;
	color: #00467F;
	margin-top: 12px;
	margin-bottom: 6px;
	padding-left: 10px;
}

div#resource_main h5 {
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	padding-left: 20px;
	margin-top: 12px;
	margin-bottom: 6px;
	color: #663333;
	letter-spacing: .1em;
}


div.resource_guide {
	margin: 0px;
	padding: 0px;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
	background-color: transparent;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	height: 100%;
}


div.resource_guide p.content {
	font-size:12px;
	margin:10px 0;
	padding:0 60px 0 30px;
	line-height:1.6em;
}
div.resource_guide p.source {
	font-size: 10px;
	padding-left: 30px;
	padding-right: 60px;
	padding-bottom: 12px;
}

div.resource_guide p.footnote {
	font-size: 10px;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #999999;
	margin-left: 30px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-right: 50px;
	padding-right: 10px;
}

div.resource_guide img {
	margin-left: 30px;
	margin-top: 6px;
	margin-bottom: 0px;
}

div.resource_guide ul.navigation {
	font-size: 12px;
	line-height: 1.6em;
	padding: 0px 60px;
	list-style: none;
}

div.resource_guide ul.navigation ul{
	font-size: 12px;
	line-height: 1.6em;
	padding: 0px 60px 0px 6px;
	list-style: none;
}

div.resource_guide ul.navigation ul ul{
	font-size: 12px;
	line-height: 1.6em;
	padding: 0px 60px 0px 6px;
	list-style: none;
}
div.resource_guide ul.navigation li {
	padding: 0px 0px 0px 14px;
	background-image: url("../images/bg_links_gray.png");
	background-repeat: no-repeat;
	background-position: 0px 5px;
}

div.resource_guide ul.navigation ul li{
	background: url("../images/ln_bullet.png") no-repeat 0px 5px;
	padding: 0px 0px 0px 14px;
}

div.resource_guide ul.navigation ul ul li {
	background: url("../images/bg_links.png") no-repeat 0px 5px;
	padding: 0px 0px 0px 14px;
}
div.resource_guide ul.navigation a {
	font-weight: bold;
}

div.resource_guide ul.navigation ul a {
	font-weight: normal;
}

div.resource_guide ul.navigation ul ul a {
	font-weight: normal;
}


div.resource_guide div#page-count{
	font-weight: bold;
	text-align: center;
	//color: #fff;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	margin-bottom: 12px;
	display: block;
}
div.resource_guide div#page-count a img {
	margin: 0px;
	padding: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	clear: both;
	float: none;
}

#print-me {
	font-size: 11px;
	padding: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	overflow: visible;
	visibility: visible;
	z-index: 999;
	position: relative;
	top: 1.5em;
	text-align: right;
	margin-top: 0px;
	width: 690px;
	clear: none;
	display: block;
}
#print-me a {
	color: #545C9D;
}
#print-me a:visited {
	color: #545C9D;
}
#print-me a:hover {
	color: #666666;
	background: #E0E1CE;
	text-decoration: underline overline;
}

.chapternumber {
	font-size: 11px;
	color: #333333;
	letter-spacing: 0.1em;
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
}

.chaptertitlefull {
	text-transform: none;
	color: #333333;
	font-family: Tahoma, sans-serif, Calibri, Arial, Verdana;
	font-size: 12px;
	line-height: 15px;
	margin-top: 0px;
	padding-top: 3px;
	padding-bottom: 18px;
}


/* Statistics builder ---------------------------------------------------------- */

div.stat_builder {
	background: transparent url("../images/bg_main_content.png") repeat-y left top;
	padding-left: 10px;
	padding-top: 0px;
	padding-bottom: 20px;
	border-right: 2px solid #d2d2d2;
	zoom:1;
}


div.stat_builder p {
	font-family: Tahoma, sans-serif, Calibri, Arial, Verdana;
	font-size: 12px;
}
div.stat_builder h1 {
	font-size: 14px;
	font-weight: bold;
	color: #0066CC;
	line-height: 1.1;
	margin: 1px 0px 2px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-transform: uppercase;
}
div.stat_builder h2 {
	font-size: 13px;
	color: #663333;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-bottom: 0px;
}
div.stat_builder h3 {
	font-size: 12px;
	font-weight: bold;
	color: #663333;
	margin-bottom: 9px;
	margin-top: 9px;
}

div.stat_builder div#sb_left_col {
	/*	float: left;
	width: 287px; */
	padding: 10px 20px 0px 0px;
	border-right: 1px solid #eaeaea;
	background: transparent;
}

div.stat_builder div#sb_right_col td p strong {
	font-size: 1.1em;
	display: block;
	padding-bottom: 4px;
	color: #663333;
	padding-top: 0px;
}
div.stat_builder div#sb_right_col td strong {
	font-size: 1.1em;
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #074B83;
}


div.stat_builder p.topic_header_bold {
	font-weight: bold;
	color: #333333;
}
div.stat_builder p.report_def strong {
	font-size: 12px;
	color: #666666;
	display: block;
	padding-bottom: 0px;
	padding-top: 4px;
}
div.stat_builder p.report_def {
	padding-top: 0px;
	padding-left: 12px;
	margin-top: 0px;
	margin-bottom: 9px;
	padding-bottom: 0px;
}
div.stat_builder span.wizard_field_subheader {
	font-weight: bold;
	margin-bottom: 4px;
	color: #663333;
	font-size: 11px;
	display: block;
	margin-top: 6px;
}
div.stat_builder .wizard_head_instruction {
	padding: 0px;
	margin: 0px 0px 10px;
	font-size: 13px;
	font-weight: bold;
	color: #04467F;
	text-transform: uppercase;
	display: block;
}
div.stat_builder span.wizard_option {
	font-size: 11px;
	display: inline-block;
}

div.stat_builder div#sb_right_col {
/*	float: left;
	width: 363px;  
	width: 659px;*/
	border-left: 1px solid #eaeaea;
	margin: 0px 0px 0px -1px;
	padding: 0px 0px 0px 20px;
}

div.stat_builder .sb_navi {
	margin-top: 12px;
	overflow: hidden;
	zoom: 1;
}

div.stat_builder .sb_navi a img {
	display: block;
}

div.stat_builder .sb_navi a.start_over {
	float: left;
	margin-right: 18px;
	padding-right: 18px;
	display: block;
}

div.stat_builder .sb_navi a.next {
	float: right;
}

div.stat_builder form #datapoint {
	overflow: hidden;
	zoom: 1;
}

div.stat_builder form #datapoint select {
	width: 310px;
	float: left;
	margin-right: 10px;
}
div.stat_builder a.wizard_tool_button {
	display: inline-block;
	margin-right: 12px;
	margin-left: 12px;
}
div.stat_builder table p {
	font-family: Tahoma, sans-serif, Calibri, Arial, Verdana;
	font-size: 12px;
	line-height: normal;
}
div.stat_builder ul.wizard_error {
	font-size: 11px;
}

div.stat_builder form #datapoint input {
	margin: 0px;
	padding: 0px;
	float: left;
}

div.stat_builder form .option input {
	vertical-align: middle;
}

div.stat_builder form .option p.row {
	margin: 0px;
	vertical-align: middle;
}

div.stat_builder form #control {
	margin: 15px 0px 30px 22px;
	overflow: hidden;
	zoom: 1;
}

div.stat_builder form a.select_all {
	float: left;
	margin: 5px 10px 0px 25px;
	text-transform: uppercase;
	color: #663333;
}

div.stat_builder form #select_all img {
	display: block;
}

div.stat_builder form a.unselect_all {
	float: left;
	margin-top: 5px;
	text-transform: uppercase;
	color: #663333;
}

div.stat_builder form #unselect_all img {
	display: block;
}

div.stat_builder form#StatsQueryWizardForm select#dataPointView {
	width: 180px;
}

div.stat_builder #mos_retail_ex_va, div.stat_builder #mos_4 {
    margin-left: 25px;
}

div.stat_builder .warning {
    margin-top: 10px;
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

/* Service Directory ---------------------------------------------------------------------------------*/

div.service_dir {
	overflow: hidden;
	zoom: 1;
	padding-right: 0px;
	padding-left: 20px;
	padding-top: 30px;
	background-image: url("../images/infocol_bg.png");
	background-repeat: repeat-y;
	background-position: 466px 0px;
}

div.service_dir div#sd_left_col {
	float: left;
	width: 400px;
	padding: 0px 20px 0px 0px;
	border-right: 1px solid #eaeaea;
	clear: both;
}
div.service_dir div#sd_left_col h2 {
	padding: 0px;
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-bottom: 0px;	
}

div.service_dir h2 {
	font-size: 14px;
	font-weight: bold;
	color: #003366;
	margin: 12px 0px 9px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
	text-transform: none;
}


div.service_dir div#sd_left_col h3 {
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-bottom: 12px;
	margin-top: 12px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	font-size: 12px;
}

div.service_dir div#sd_left_col input, select {
	font-size:11px;
	border: 1px solid bbbbbb;
	padding-right: 2px;
	padding-left: 2px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

div.service_dir div#sd_left_col form#SearchForm input {
	font-size:11px;
	border: 1px solid bbbbbb;
	padding-right: 2px;
	padding-left: 2px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

div.service_dir form#SearchForm input.search_btn {
	border-style: none;
	margin-bottom: 0px;
	margin-left: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}


div.service_dir div#sd_left_col span.topic_header_bold {
	font-weight: bold;
	font-size: 11px;
	line-height: 20px;
}

div.service_dir div#sd_left_col p.row label, div.service_dir div#sd_left_col p.row .label {
	font-size: 12px;
	font-weight: bold;
	margin: 0px 0px 5px 0px;
	text-indent: 6px;
	display: block;
}

div.service_dir div#sd_left_col p.row label span, div.service_dir div#sd_left_col p.row .label span {
	font-size: 11px;
	font-weight: normal;
}

div.service_dir div#sd_left_col p.row input {
	float: left;
}

div.service_dir div#sd_left_col #search_button {
	padding: 0px;
	margin: 0px 0px 0px 10px;
}

div.service_dir div#sd_left_col p.row #letters {
	overflow: hidden;
	display: block;
	padding-bottom: 12px;
	margin-top: 0px;
	margin-bottom: 15px;
}

div.service_dir div#sd_left_col #letters a {
	float: left;
	margin: 0px 6px;
	font-weight: bold;
	padding: 0px;
	font-size: 11px;
	color: #663300;
}

div.service_dir div#sd_left_col .category .bar {
	line-height: 12px;
	background-color: #a9a9a9;
	background-image: url("../images/gray_bar_bg.png");
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: 0px 0px;
	overflow-x: hidden;
	overflow-y: hidden;
	margin: 12px 0px;
}

div.service_dir div#sd_left_col .category {
	display: block;
	float: left;
	width: 420px;
	padding: 0px;
	color: #FFFFFF;
}

div.service_dir div#sd_left_col .category .bar h3 {
	float: left;
	color: #fff;
	margin: 2px 0px 5px 10px;
	padding: 0px;
}

div.service_dir div#sd_left_col .category .bar a {
	float: right;
	width: 105px;
	height: 20px;
	background-color: transparent;
	background-image: url("../images/back_top.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 0px 0px;
	color: #FFFFFF;
}

div.service_dir div#sd_left_col .category .bar a span {
	position: absolute;
	left: -9999px;
	color: #FFFFFF;
}

div.service_dir div#sd_left_col .category ul {
	list-style: none;
	margin: 0px 0px 10px;
	padding: 0px;
}

div.service_dir div#sd_left_col .category li {
	font-size: 12px;
	font-weight: bold;
	margin: 0px 0px 10px;
	padding: 0px 0px 0px 28px;
	background: url("../images/art_list_arrow.gif") no-repeat 0px 0px;
}

div.service_dir div#sd_left_col .category li.headings {
	background: none;
	font-weight: bold;
	color: #000000;
	margin-top: 4px;
	margin-left: 0px;
}

div.service_dir div#sd_left_col .category ul ul {
	margin: 0px;
	padding-top: 9px;
}

div.service_dir div#sd_left_col .category ul ul li {
	font-size: 11px;
	margin: 0px 0px 6px 0px;
	padding-left: 20px;
	background: url("../images/bg_links.png") no-repeat 0px 5px;
}
div.service_dir div#sd_left_col p.content {
	font-size:12px;
	margin:10px 0;
	padding:0 60px;
	line-height:1.6em;
}

div.service_dir div#sd_left_col ul.navigation {
	font-size: 12px;
	line-height: 1.6em;
	padding: 0px 60px;
	list-style: none;
}

div.service_dir div#sd_left_col ul.navigation ul{
	font-size: 12px;
	line-height: 1.6em;
	padding: 0px 60px;
	list-style: none;
}

div.service_dir div#sd_left_col ul.navigation ul ul{
	font-size: 12px;
	line-height: 1.6em;
	padding: 0px 60px;
	list-style: none;
}
div.service_dir div#sd_left_col ul.navigation li {
	background: url("../images/bg_links_gray.png") no-repeat 0px 5px;
	padding: 0px 0px 0px 18px;
}

div.service_dir div#sd_left_col ul.navigation ul li{
	background: url("../images/ln_bullet.png") no-repeat 0px 5px;
	padding: 0px 0px 0px 18px;
}

div.service_dir div#sd_left_col ul.navigation ul ul li {
	background: url("../images/bg_links.png") no-repeat 0px 5px;
	padding: 0px 0px 0px 18px;
}

div.service_dir div#sd_right_col {
	width: 250px;
	margin: 0px 0px 0px -1px;
	padding: 0px 0px 0px 20px;
	float: left;
	overflow: hidden;
	position: relative;
}

div.service_dir div#sd_right_col div#info {
	padding: 10px 15px 20px;
}
div.service_dir div#sd_right_col div#info h3 {
	text-decoration: none;
	padding: 0px;
	margin: 10px 0px 0px;
	font-size: 12px;
}
div.service_dir div#sd_right_col div#info h3 a {
	line-height: 16px;
	text-decoration: none;
}

div.service_dir div#sd_right_col div#info h4 {
	font-size: 10px;
	color: #333333;
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .05em;
}

div.service_dir div#sd_right_col div#info p {
	font-size: 10px;
	margin: 3px 0px 12px;
	line-height: 16px;
}


/* Committee Pages ---------------------------------------------------------------------------------*/


div.rest_of_page { padding: 0px; }

div.rest_of_page p { font-size: 12px; margin-top: 9px; padding-left: 20px; }

div.rest_of_page h2 a {
	text-transform: none;
	text-decoration: none;
}


div.rest_of_page h1 { font-size: 14px; color: #00467F; padding-bottom: 0px; margin-bottom: 16px; line-height: 18px; padding-top: 20px; padding-left: 20px; }
div.rest_of_page h2 {
	font-size: 13px;
	color: #48270E;
	padding-bottom: 0px;
	margin-bottom: 6px;
	margin-top: 9px;
	padding-top: 0px;
}
div.rest_of_page h3 { font-size: 12px; color: #003366; padding-right: 20px; padding-bottom: 0px; margin-bottom: 4px; padding-top: 0px; margin-top: 9px; padding-left: 20px; }
div.rest_of_page h4 {
	font-size: 12px;
	color: #485B1E;
	margin-bottom: 0px;
}


div.rest_of_page div.committee_profile { padding-top: 10px; padding-right: 40px; padding-bottom: 10px; margin-left: 20px; }

div.rest_of_page div.committee_profile h2 {
	font-size: 13px;
	font-family: Tahoma, sans-serif, Calibri, Arial, Verdana;
	color: #48270E;
	padding-bottom: 0px;
	margin-bottom: 6px;
	margin-top: 12px;
	padding-top: 3px;
	font-weight: bold;
}

div.rest_of_page div.committee_profile li { font-size: 12px; display: block; margin-top: 4px; height: auto; padding-top: 4px; padding-right: 40px; padding-left: 20px; list-style-type: none; background-image: url("../images/bg_links.png"); background-repeat: no-repeat; background-position: 6px 9px; margin-left: 15px; }

div.rest_of_page div.committee_profile ul { padding-left: 0px; padding-top: 0px; margin-top: 3px; }

div#antitrust { padding-right: 40px; padding-top: 10px; padding-left: 20px; }

div.rest_of_page div#committee_events { padding-right: 40px; padding-top: 10px; padding-left: 20px; }

div.rest_of_page div#committee_events p { font-size: 12px; display: block; margin-top: 4px; height: auto; padding-top: 4px; padding-right: 20px; padding-left: 20px; background-image: url("../images/bg_links.png"); background-repeat: no-repeat; background-position: 6px 9px; line-height: 16px; padding-bottom: 12px; }

div.rest_of_page div#committee_events p a { font-size: 12px; margin-top: 4px; height: auto; padding-top: 4px; padding-right: 20px; margin-bottom: 3px; padding-bottom: 3px; }

div.rest_of_page div#committee_events p span.result_caption { padding-right: 20px; padding-left: 0px; font-size: 11px; position: absolute; padding-top: 3px; margin-top: 0px; margin-right: 0px; margin-bottom: 9px; margin-left: 0px; }

div.rest_of_page div#committee_events p span.event_blurb { margin-top: 6px; margin-bottom: 0px; height: auto; width: 500px; font-style: italic; font-size: 12px; }


div#committee_memos { padding-right: 40px; padding-bottom: 10px; padding-top: 10px; padding-left: 20px; }

div.rest_of_page div#committee_memos p { font-size: 12px; margin-top: 0px; margin-bottom: 6px; height: auto; padding-top: 4px; padding-right: 40px; padding-bottom: 0px; }

div.rest_of_page div#committee_memos p a { font-size: 12px; display: block; margin-top: 4px; height: auto; padding-top: 4px; padding-right: 20px; padding-left: 20px; background-image: url("../images/bg_links.png"); background-repeat: no-repeat; background-position: 6px 9px; }

div.rest_of_page div#committee_memos p span.result_caption { line-height: 0em; padding-right: 20px; padding-left: 20px; font-size: 11px; position: absolute; padding-top: 0px; margin: 0px; }






div.rest_of_page p.column_subheader {
	font-size: 13px;
	color: #48270E;
	padding-bottom: 0px;
	margin-bottom: 6px;
	margin-top: 12px;
	padding-top: 3px;
	font-weight: bold;
}

div.rest_of_page p.column_subheader a {
	text-transform: none;
	text-decoration: none;
}

div.rest_of_page p.column_header {
	font-size: 14px;
	color: #00467F;
	padding-bottom: 0px;
	margin-bottom: 16px;
	line-height: 18px;
	font-weight: bold;
}

div.rest_of_page div#other_memos {
	padding-right: 40px;
	padding-bottom: 20px;
	padding-top: 10px;
}


div.rest_of_page div#other_memos p { font-size: 12px; margin-top: 0px; margin-bottom: 6px; height: auto; padding-top: 4px; padding-right: 40px; padding-bottom: 0px; }

div.rest_of_page div#other_memos p a { font-size: 12px; background: url("../images/bg_links.png") no-repeat 6px; display: block; margin-top: 4px; height: auto; padding-top: 4px; padding-right: 40px; padding-left: 20px; }

div.rest_of_page div#other_memos p span.result_caption { line-height: 0em; padding-right: 20px; padding-left: 20px; font-size: 11px; position: absolute; padding-top: 0px; margin: 0px; }


div.rest_of_page p.body_text { font-size: 13px; line-height: 1.5em; }

div.rest_of_page p.header_no_link { font-weight: bold; color: #333333; }

div.rest_of_page table { margin-bottom: 15px; font-size: 12px; }

div.rest_of_page table.calendar_style { border-top: 1px solid #999999; border-left: none; width: 75%; margin-bottom: 15px; border-bottom: 1px solid #CCCCCC; border-right-style: none; }

div.rest_of_page table.calendar_style td { padding: 6px; font-size: 12px; }

div.rest_of_page table.calendar_style th { font-weight: bold; color: #663333; text-align: left; padding: 6px; border-bottom: 1px solid #CCCCCC; border-right-style: none; border-left-style: none; font-size: 12px; }

div.rest_of_page blockquote { font-size: 12px; line-height: 1.5em; }


div.rest_of_page div#resource_links { height: auto; padding-top: 10px; padding-right: 40px; padding-bottom: 20px; padding-left: 20px; }
div.rest_of_page div#resource_links p {
	font-size: 12px;
	font-family: Tahoma, sans-serif, Calibri, Arial, Verdana;
	margin-top: 0px;
	margin-bottom: 3px;
	height: auto;
	padding-top: 4px;
	padding-right: 40px;
	padding-bottom: 0px;
}

div.rest_of_page div#resource_links p a {
	font-size: 12px;
	background: url("../images/bg_links.png") no-repeat 6px;
	display: block;
	margin-top: 0px;
	height: auto;
	padding: 4px 40px 4px 20px;
	margin-bottom: 0px;
}

div.rest_of_page div#comm_colleague {
	height: auto;
	text-align: left;
	padding-top: 10px;
	padding-right: 40px;
	padding-bottom: 20px;
}
div.rest_of_page div#comm_colleague form table {
	font: 12px/18px Tahoma, Geneva, sans-serif;
	text-align: left;
	margin: 0px;
	padding: 0px;
}
div.rest_of_page div#comm_colleague table th {
	font-size: 14px;
	font-weight: bold;
	color: #48270E;
	padding-bottom: 10px;
	text-align: left;
}

div.rest_of_page #comm_colleague form label { font-family: Tahoma, sans-serif; font-size: 12px; line-height: 16px; padding-top: 6px; padding-right: 6px; padding-bottom: 6px; margin-bottom: 6px; }

div.rest_of_page div#comm_colleague p.not_found { font-size: 12px; font-weight: bold; color: #600; padding-top: 6px; padding-bottom: 9px; }


div.rest_of_page div#comm_colleague span.confirmation { margin-top: 9px; margin-bottom: 9px; display: block; color: #360; font-weight: bold; }

div.rest_of_page div#comm_colleague span.errormessage { font-weight: bold; color: #600; display: block; margin-top: 9px; margin-bottom: 9px; }

div.rest_of_page div.comm_members p span.topic_header { font-weight: bold; color: #333; margin-bottom: 2px; padding: 0px; margin-top: 0px; line-height: 20px; font-size: 12px; }

/*  div.rest_of_page div#comm_members p { font-size: 12px; margin-top: 0px; margin-bottom: 6px; height: auto; padding-top: 4px; padding-right: 40px; padding-bottom: 0px; } */

div.rest_of_page div.comm_members p { font-size: 12px; display: block; margin-top: 4px; height: auto; padding-top: 4px; padding-right: 20px; padding-left: 40px; background-image: url("../images/bg_links.png"); background-repeat: no-repeat; background-position: 24px 10px; }

div.rest_of_page div.comm_members p span.result_caption { line-height: 0em; padding-right: 20px; padding-left: 20px; font-size: 11px; position: absolute; padding-top: 0px; margin: 0px; }


div.rest_of_page div.comm_members { margin-left: 20px; }

div.rest_of_page div.comm_members p.left_extramargin_nav { margin-left: 0px; padding-left: 0px; margin-top: 9px; background-image: none; }

div.rest_of_page div.comm_members p.left_extramargin_nav a { background-image: none; }

div.rest_of_page p span.breadcrumb { padding: 0px; }


div.rest_of_page div#antitrust p {
	line-height: 16px;
}
